[submodule "psblas3"]
	path = psblas3
	url = https://github.com/sfilippone/psblas3
	branch = development
[submodule "sundials"]
	path = sundials
	url = https://github.com/Cirdans-Home/sundials.git
	branch = psblasinterface
[submodule "amg4psblas"]
	path = amg4psblas
	url = https://github.com/sfilippone/amg4psblas.git
	branch = development
