[submodule "psblas3"]
	path = psblas3
	url = https://github.com/sfilippone/psblas3
[submodule "psblas3-ext"]
	path = psblas3-ext
	url = https://github.com/sfilippone/psblas3-ext
[submodule "sundials"]
	path = sundials
	url = https://github.com/Cirdans-Home/sundials.git
	branch = psblasinterface
[submodule "spgpu"]
	path = spgpu
	url = https://github.com/davidebarbieri/spgpu
[submodule "amg4psblas"]
	path = amg4psblas
	url = https://github.com/sfilippone/amg4psblas.git
